lxml==2.3.3
chromium-compact-language-detector==0.031415
distribute==0.6.21
gensim==0.8.3
icalendar==3.0.1b1
matplotlib==1.0.1
pandas==0.4.3
pyquery==1.0
scipy==0.10.0
scrapely==0.9

# These are ones where the original version wasn't available. So we went to the next
# nearest available one
# Changed this from 0.9.3 to 0.9.8
Fom==0.9.8
# Changed from 3.09 to 3.10
PyYAML==3.10
# Changed from 0.14.0.2841 to 0.14.1
Scrapy==0.14.1
# Changed from 15.2.4 to 15.6.2
adspygoogle.adwords==15.6.2
# Changed this from 2.0b9 to 2.0.1
nltk==2.0.1
# Changed this from 1.0.25 to 1.0.2 
pydot==1.0.2

# TODO Need to install parsley
#-e git+http://github.com/fizx/pyparsley.git@0eea1362bc38c5e0e3a1caa2358c472c8f6eb3bd#egg=pyparsley-dev

# TODO Install igraph https://launchpad.net/igraph
#python-igraph==0.5.3

# TODO Install R
# Changed this from 2.2.4dev-20111102 to 2.2.5
#rpy2==2.2.5

