BeautifulSoup==3.2.1
Unidecode==0.04.9
beautifulsoup4==4.3.2
errorhandler==1.1.1
mechanize==0.2.5
pdfminer==20140328
python-Levenshtein==0.10.2
python-dateutil==1.5
python-gflags==2.0
python-modargs==1.2
python-stdnum==0.7
requests==2.3.0
simplejson==2.2.1
turbotlib==0.0.10
lxml==3.3.5
pyquery==1.2.8
Scrapy==0.22
scraperwiki==0.4.1
PyYAML==3.11
xlrd==0.9.3
